body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #A88BFF, #6B45FF);
    color: #fff;
}

.login-container, .results-container, .signup-container, .index-container {
    background-color: #fff;
    color: #333;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: 300px;
    animation: fadeIn 1s ease-in-out;
}

.login-container h2, .signup-container h2, .index-container h1, .results-container h2 {
    margin-bottom: 20px;
    color: #6B45FF;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    background-color: #6B45FF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #5A39E5;
}

.flash-message {
    color: red;
    margin-bottom: 15px;
}

.index-container a, .result-item a {
    color: #6B45FF;
    text-decoration: none;
    font-weight: bold;
}

.index-container a:hover, .result-item a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
